@{
    ViewData["Title"] = "File a Case/Pleading";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>File a Case/Pleading</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Dashboard_1", "Dashboards")">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                On-Going Cases
            </li>
            <li class="active breadcrumb-item">
                <strong>File a Case/Pleading</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div id="pleading-list" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>
                        List of Filed Case/Pleadings 
                        <span class="count label label-info float-right">2</span>
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                         <div class="form-group has-success row">
                            <div class="col-sm-2">
                                 <button onclick="location.href='@Url.Action("AddCasePleading", "OnGoingCases")'" type="button" class="btn btn-info">
                                     <i class="fa fa-plus"></i> Add
                                 </button>
                            </div>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input id="search-filed-cases-text" type="text" class="form-control" placeholder="Search filed case/pleadings here..."> 
                                    <span class="input-group-append"> 
                                        <button id="search-role-button" type="button" class="btn btn-info">Search</button> 
                                    </span>
                                </div>
                           </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Subject of Request</th>
                                    <th>Case Type</th>
                                    <th>Case Nature</th>
                                    <th>Status</th>
                                    <th>Date Filed</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<environment names="Development">
    <script type="text/javascript" src="~/js/prefiling.js"></script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript" src="~/js/prefiling.js"></script>
</environment>
}