@{
    ViewData["ValidationRequests"] = "ValidationRequests";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Validation Requests</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("ValidationRequests", "ValidationRequests")">Validation Requests</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div id="sealing-and-acceptance-testing-list" class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title d-flex justify-content-center align-items-center">
                    <h1>
                         Request for Validation
                    </h1>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <div class="form-group has-success row">
                            <div class="col-sm-10">
                                <div class="input-group col-md-5">
                                    <input id="search-sealing-and-acceptance-testing-text" type="text" class="form-control" placeholder="Search here...">
                                    <span class="input-group-append">
                                        <button id="search-sealing-and-acceptance-testing-button" type="button" class="btn btn-info">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Document</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Generate Barcode</th>
                                    <th>Details</th>
                                    <th>Attachment</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/js/sealing-and-acceptance-testing.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/sealing-and-acceptance-testing.js"></script>
    </environment>
}