@{
    ViewData["Title"] = "Dashboard v.1";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Skateholder Registration - For Approval <span class="label label-warning float-right">12</span></h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>RER Classification</th>
                                    <th>Email Address</th>
                                    <th>Registration Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Cleody Catindig</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td>catindig_cleody@gmail.com</td>
                                    <td>10/23/2022 4:03 PM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                    <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Marvin Klein Casil</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Nec Euismod In Company</td>
                                    <td>marvin.Casil@yahoo.com</td>
                                    <td>10/21/2022 1:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>John Smith</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Erat Volutpat</td>
                                    <td>john_smith@yahoo.com</td>
                                    <td>10/28/2022 2:59 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Anna Jordan</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Tellus Ltd</td>
                                    <td>anna.jordan23@yahoo.com</td>
                                    <td>10/23/2022 4:03 PM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Alice Jackson</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Nec Euismod In Company</td>
                                    <td>jackson_alice@hotmail.com</td>
                                    <td>09/15/2022 09:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Patrick Smith</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td>patrick.smith@yahoo.com</td>
                                    <td>11/03/2022 07:12 AM</td>
                                   <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Dave Cadenas</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Tellus Ltd</td>
                                    <td>dave_cadenas23@gmail.com</td>
                                    <td>11/09/2022 04:23 PM</td>
                                   <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Jerson Cabuyao</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Inceptos Hymenaeos Ltd</td>
                                    <td>jersoncabuyao@gmail.com</td>
                                    <td>09/15/2022 09:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Sherwin Barlan</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Nec Euismod In Company</td>
                                    <td>sherwin.barlan@gmail.com</td>
                                    <td>09/15/2022 09:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Mary Grace Beldad</td>
                                    <td>Individual (Consumers)</td>
                                    <td>Erat Volutpat</td>
                                    <td>marygrace.beldad05@yahoo.com</td>
                                     <td>09/15/2022 09:45 AM</td>
                                   <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Rolando Bautista</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Tellus Ltd</td>
                                    <td>rolando_bautista@yahoo.com</td>
                                    <td>09/15/2022 09:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Mark Adrian Rafanan</td>
                                    <td>Juridical Entity (DU, TransCo, GenCo, RES, QTP, Counsel, Gov't Agency)</td>
                                    <td>Nec Euismod In Company</td>
                                    <td>mark_adrian.rafanan@gmail.com</td>
                                    <td>09/15/2022 09:45 AM</td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-sm dropdown-toggle">Actions</button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-check"></i> Approve</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fa fa-times"></i> Reject</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <environment names="Development">
        <script src="~/lib/flot/jquery.flot.js"></script>
        <script src="~/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/flot/jquery.flot.time.js"></script>
        <script src="~/lib/flot/jquery.flot.spline.js"></script>
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/flot/jquery.flot.js"></script>
        <script src="~/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/flot/jquery.flot.time.js"></script>
        <script src="~/lib/flot/jquery.flot.spline.js"></script>
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {
            
            let toast = $('.toast');

            setTimeout(function () {
                toast.toast({
                    delay: 5000,
                    animation: true
                });
                toast.toast('show');

            }, 2200);

            $(".bar_dashboard").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"],
                width: 100
            })

            $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                type: 'bar',
                barWidth: 8,
                height: '150px',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);

            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#464f88"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [70, 27, 85],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

        });
    </script>
}