@{
    ViewData["Title"] = "Dashboard v.1";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Dashboard</h2>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row mb-5">
        <div class="col-lg-2">
            <h3>Date range</h3>
                
        </div>
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Services
                </button>
                <div class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-center" href="#">All</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle w-75" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Posts
                </button>
                <div class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item text-center" href="#">All</a>
                </div>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col bg-white rounded m-3">
            <h2>New Wins</h2>
            <div class="float-left w-100 mt-3">
                <h1 class="text-dark text-center font-weight-bold">230</h1>
                <h3 class="text-success text-center"><i class="fa fa-arrow-up mr-1"></i>25%</h3>
                <p class="text-muted text-center">vs previous 30 days</p>
            </div>
        </div>
        <div class="col bg-white rounded m-3">
            <h2>Trial: Win Rate</h2>
            <div class="float-left w-100 mt-3">
                <h1 class="text-dark text-center font-weight-bold">9.86%</h1>
                <h3 class="text-success text-center"><i class="fa fa-arrow-up mr-1"></i>25%</h3>
                <p class="text-muted text-center">vs previous 30 days</p>
            </div>
        </div>
        <div class="col bg-white rounded m-3">
            <h2>New MRR</h2>
            <div class="float-left w-100 mt-3">
                <h1 class="text-dark text-center font-weight-bold">₱25,690</h1>
                <h3 class="text-success text-center"><i class="fa fa-arrow-up mr-1"></i>8.7%</h3>
                <p class="text-muted text-center">vs previous 30 days</p>
            </div>
        </div>
        <div class="col bg-white rounded m-3">
            <h2>Page Views</h2>
            <div id="piechart" ></div>
        </div>
    </div>
    <div class="row">
        <div class="col bg-white rounded m-3">
            <h2>MRR Stats</h2>
            <div id="series_chart_div"></div>
        </div>
        <div class="col bg-white rounded m-3">
            <h2>MRR</h2>
            <div id="chart_div" style="width:700px;"></div>            
        </div>
    </div>
</div>




@section Scripts {
    <environment names="Development">
        <script type="text/javascript" src="~/lib/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.time.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.spline.js"></script>
        <script type="text/javascript" src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/lib/chartJs/Chart.min.js"></script>
        <script type="text/javascript" src="~/lib/peity/jquery.peity.js"></script>
        <script type="text/javascript" src="~/js/dashboard.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/flot/jquery.flot.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.pie.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.time.js"></script>
        <script type="text/javascript" src="~/lib/flot/jquery.flot.spline.js"></script>
        <script type="text/javascript" src="~/lib/sparkline/jquery.sparkline.min.js"></script>
        <script type="text/javascript" src="~/lib/chartJs/Chart.min.js"></script>
        <script type="text/javascript" src="~/lib/peity/jquery.peity.js"></script>
        <script type="text/javascript" src="~/js/dashboard.js"></script>
    </environment>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Pie Chart: Page Views -->
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Percentage'],
                ['Organic Research', 70],
                ['Referral', 10],
                ['Direct', 20],

            ]);

            var options = {

                colors: ['#75b265', '#ffc744', '#719ad2'],
                pieHole: 0.3,
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

    <!-- Bubble Chart: MRR Stats -->
    <script type="text/javascript" >
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawSeriesChart);

        function drawSeriesChart() {

            var data = google.visualization.arrayToDataTable([
                ['ID', '', '', 'Region', 'Population'],
                ['US', 80.66, 1.67, 'US', 33739900],
                ['AUS', 79.84, 1.36, 'AUS', 81902307],
                ['CAN', 78.6, 1.84, 'CAN', 25523095],
                ['UK', 72.73, 2.78, 'UK', 79716203],
            ]);

            var options = {
                title: '',
                hAxis: { title: '' },
                vAxis: { title: '' },
                bubble: { textStyle: { fontSize: 11 } },
                colors: ['#ffa026', '#ffd192', '#b8cce8', '#ebd8f0'],
            };

            var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
            chart.draw(data, options);
        }
    </script>

    <!-- Bar Chart: MRR -->
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Sales', 'Expenses', 'Profit'],
                ['Jan-Feb', 1000, 400, 200],
                ['Mar-Apr', 1170, 460, 250],
                ['May-Jun', 660, 1120, 300],
                ['Jul-Aug', 1030, 540, 350],
                ['Sep-Oct', 1030, 540, 350],
                ['Nov-Dec', 1030, 540, 350]
            ]);

            var options = {
                chart: {
                    title: '',
                    subtitle: '',
                },
                bars: 'vertical',
                vAxis: { format: 'decimal' },
                height: 400,
                colors: ['#719ad2', '#ffa026', '#75b265']
            };

            var chart = new google.charts.Bar(document.getElementById('chart_div'));

            chart.draw(data, google.charts.Bar.convertOptions(options));

  
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            let toast = $('.toast');

            setTimeout(function () {
                toast.toast({
                    delay: 5000,
                    animation: true
                });
                toast.toast('show');

            }, 2200);

            $(".bar_dashboard").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"],
                width: 100
            })

            $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                type: 'bar',
                barWidth: 8,
                height: '150px',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);

            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                {
                    series: {
                        lines: {
                            show: false,
                            fill: true
                        },
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                        points: {
                            radius: 0,
                            show: true
                        },
                        shadowSize: 2
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#d5d5d5",
                        borderWidth: 1,
                        color: '#d5d5d5'
                    },
                    colors: ["#1ab394", "#464f88"],
                    xaxis: {
                    },
                    yaxis: {
                        ticks: 4
                    },
                    tooltip: false
                }
            );

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [300, 50, 100],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

            var doughnutData = {
                labels: ["App", "Software", "Laptop"],
                datasets: [{
                    data: [70, 27, 85],
                    backgroundColor: ["#a3e1d4", "#dedede", "#9CC3DA"]
                }]
            };


            var doughnutOptions = {
                responsive: false,
                legend: {
                    display: false
                }
            };


            var ctx4 = document.getElementById("doughnutChart2").getContext("2d");
            new Chart(ctx4, { type: 'doughnut', data: doughnutData, options: doughnutOptions });

        });
    </script>
}