
@{
    ViewData["Title"] = "Dashboard v.3";
    ViewBag.SpecialClass = "sidebar-content";
}

<div class="wrapper wrapper-content">
    <div class="row">
      
    </div>
</div>

@section Scripts {
    <environment names="Development">
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/chartJs/Chart.min.js"></script>
        <script src="~/lib/peity/jquery.peity.min.js"></script>
    </environment>

    <script type="text/javascript">
        $(document).ready(function () {


            $(".line").peity("line", {
                fill: '#1ab394',
                stroke: '#169c81',
            })

            $(".bar").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"]
            })

            $(".bar_dashboard").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"],
                width: 100
            })

            var lineData = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(26,179,148,0.5)",
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: "Example dataset",
                        backgroundColor: "rgba(220,220,220,0.5)",
                        borderColor: "rgba(220,220,220,1)",
                        pointBackgroundColor: "rgba(220,220,220,1)",
                        pointBorderColor: "#fff",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            };

            var lineOptions = {
                responsive: true
            };


            var ctx = document.getElementById("lineChart").getContext("2d");
            new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
        });
    </script>
}
